@model List<PersonalIntranetBot.Models.ResultsItem>;

@{
    ViewData["Title"] = "My calendar events";
}

<h2>My calendar events</h2>

@if (!User.Identity.IsAuthenticated)
{
    <br />
    <p>Choose <b>Sign in</b> at the top of the page and sign in with your work or school account.</p>
}
@if (User.Identity.IsAuthenticated)
{
    <table style="border: 1px solid green;">
        <tr>
            <th style="border: 1px solid green; padding: 5px;">Subject</th>
            <th style="border: 1px solid green; padding: 5px;">Location</th>
            <th style="border: 1px solid green; padding: 5px;">Start</th>
            <th style="border: 1px solid green; padding: 5px;">End</th>
            <th style="border: 1px solid green; padding: 5px;">Attendees</th>
            <th style="border: 1px solid green; padding: 5px;">Travel information</th>
            <th style="border: 1px solid green; padding: 5px;">LinkedIn Profile Information</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr style="border: 1px solid green;">
            <td style="border: 1px solid green; padding: 5px;">
                @Html.DisplayFor(modelItem => item.Subject)<br />
            </td>
            <td style="border: 1px solid green;padding: 5px;">
                @Html.DisplayFor(modelItem => item.Location)<br />
            </td>
            <td style="border: 1px solid green;padding: 5px;">
                @Html.DisplayFor(modelItem => item.Start)<br />
            </td>
            <td style="border: 1px solid green;padding: 5px;">
                @Html.DisplayFor(modelItem => item.End)<br />
            </td>
            <td style="border: 1px solid green;padding: 5px;">
                @Html.DisplayFor(modelItem => item.Attendees)<br />
            </td>
            <td style="border: 1px solid green;padding: 5px;">
                <a href="@Html.DisplayFor(modelItem => item.GoogleMapsURL)" target="_blank">Show me the way!</a><br />
            </td>
            <td style="border: 1px solid green;padding: 5px;">
                @foreach (var linkedInItem in item.LinkedIdProfileURLs)
                {
                    @Html.DisplayFor(modelItem => linkedInItem.Key)
                    @Html.DisplayFor(modelItem => linkedInItem.Value)
                    <br />
                }
            </td>
        </tr>
        }
    </table>

    
}